{
    "rules": {
        "import/no-unresolved": "off" //add
    },
    "overrides": [
        {
            "files": [
                "*.stories.@(ts|tsx|js|jsx|mjs|cjs)"
            ],
            "rules": {
                "storybook/hierarchy-separator": "error",
                "storybook/default-exports": "off"
            }
        }
    ]
}